/FXyzLib/.nb-gradle/private/
/FXyzLib/FXyz-Samples/build/
/FXyzLib/Fxyz-Core/build/
/FXyzLib/build/
/.nb-gradle/private/
/build/
/FXyz-Importers/build/
/FXyz-Samples/build/
/FXyz-Client/build/
/FXyz-Core/build/
/.gradle
/.nb-gradle/
/.idea/