.minimizeButton{
    -fx-background-color: transparent;
    -fx-background-radius: 100;
    -fx-graphic: url(../images/window-min.png);
}
.minimizeButton:hover{
    -fx-graphic: url(../images/window-min-over.png);
}
.maximizeButton{
    -fx-background-color: transparent;
    -fx-background-radius: 100;
    -fx-graphic: url(../images/window-expand.png);
}
.maximizeButton:hover{
    -fx-graphic: url(../images/window-expand-over.png);
}
.exitButton{
    -fx-background-color: transparent;
    -fx-background-radius: 100;
    -fx-graphic: url(../images/window-close.png);
}
.exitButton:hover{
    -fx-graphic: url(../images/window-close-over.png);
}
.fxyz-control-arrow-button{
    -fx-base: #3d3d3d;
    -fx-shape: "M4,-4 L0,0 L4,4 Z";
    -fx-scale-shape: false;
    -fx-padding: 8;
}
.fxyz-control-window-inner-frame{
    -fx-background-color:transparent;
    -fx-border-color:
        radial-gradient(focus-angle 180deg, focus-distance 100%, center 0% 50%, radius 20%, reflect, white, transparent);
    -fx-border-width:0.75px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;    
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-effect:dropshadow(gaussian, #ffffff09, 10, 0,0,0);
}
.fxyz-control-header{
    -fx-background-color:
        linear-gradient(from 0% 100% to 100% 100%,  #00000044, #ffffff19, #00000044),
        radial-gradient(focus-angle 90deg, focus-distance 2%, center 50% 100%, radius 200%, #ffffff16, transparent 50%);
    -fx-border-color:
        linear-gradient(to left,  #000000ee, #ffffff19, transparent);
    -fx-border-width:1px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;    
    -fx-border-radius: 0 50 50 0;
    -fx-background-radius: 0 50 50 0;
    -fx-effect:dropshadow(gaussian, #ffffff99, 10, 0,0,0);
}
.fxyz-control-window-frame{
    -fx-background-color:
        linear-gradient(from 0% 100% to 100% 100%,  #00000099, #3d3d3ddd, #00000099),
        radial-gradient(focus-angle 0deg, focus-distance 2%, center 50% 100%, radius 200%, #ffffff16, transparent 50%);
    -fx-border-color:
        radial-gradient(focus-angle 180deg, focus-distance 100%, center 0% 50%, radius 20%, reflect, #000000ee, transparent);
    -fx-border-width:1px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;    
    -fx-border-radius: 0 15 10 10;
    -fx-background-radius: 0 15 10 10;
    -fx-effect:dropshadow(gaussian, #ffffff, 5, 0.25, 0,3);
}
.fxyz-control-window-icon{
    -fx-image:url("../images/logo2.png");
}