/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-ene-2015, 18:52:24
    Author     : jpereda
*/
.colorSlider {
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.3), 5, 0.0 , 0, 2);
}
.colorSlider .axis {
    -fx-tick-label-fill:black;
    -fx-tick-length: 3px;
}
.colorSlider .axis .axis-tick-mark,
.colorSlider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: #120120;
}
.colorSlider .thumb {
    
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom, white 20%, black 21%, black 79%, white 80%);
    -fx-border-width: 0.5px;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-padding: 6 2 6 2;
}
.colorSlider .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-image: url("palette_1530.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: stretch, contain;
}